:root {
	--text-color: #a62639;
}

p {
	margin: 0px;
}

body {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 40px;

	background-color: #ffc07f;
}

.slogan {
	display: flex;
	width: 100%;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.animated_text {
	color: var(--text-color);
}

.wrapper {
	position: relative;
}

.underline {
	position: absolute;
	width: 100%;
	top: calc(100%);
	height: 4px;
	background-color: var(--text-color);
	left: 0;
}
